body {
  background-color: #191921;
}
/* ================================= IMPORT ================================= */
@font-face {
  font-family: "Commissioner", sans-serif;
  src: url("/");
  font-weight: medium;
  font-style: normal;
}

/* ========================================================================== */
/*                                  VARIABLES                                 */
/* ========================================================================== */
:root {
  --header-height: 3rem;
  /* ================================= COLOURS ================================ */
  --primary: #f94f4f;
  --secondary: #ff9393;
  --tertiary: #191921;

  --black: #000000;
  --white: #ffffff;

  /* ================================== FONTS ================================= */
  /* FONT-FAMILY */
  --font-family: "Commissioner", sans-serif;

  /* FONT-WEIGHT */
  --font-regular: 400;
  --font-bold: 800;

  /* FONT-SIZE */
  --h1-fontsize: 5rem;
  --h2-fontsize: 2.5rem;
  --h3-fontsize: 1.8rem;
  --paragraph-fontsize: 1rem;
  --label-fontsize: 1rem;
  --button-fontsize: 0.875rem;

  /* ========================================================================== */
  /*                              MARGIN / PADDING                              */
  /* ========================================================================== */
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  --mb-5: 5rem;
  --mb-6: 6.9rem;
  --mb-7: 7rem;
  --mb-8: 8rem;
  --mb-9: 9rem;
}

/* ========================================================================== */
/*                                   GLOBAL                                   */
/* ========================================================================== */
/* =============================== TYPOGRAPHY =============================== */
.h1-black,
.h2-black,
.h3-black {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  color: var(--black);
  line-height: 1;
  margin-bottom: var(--mb-2);
}

.h1-black {
  font-size: var(--h1-fontsize);
}

.h2-black {
  font-size: var(--h2-fontsize);
}

.h3-black {
  font-size: var(--h3-fontsize);
}

.paragraph-black {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--paragraph-fontsize);
  color: var(--black);
  margin-bottom: var(--mb-2);
  line-height: 1.6;
}

.h1-white,
.h2-white,
.h3-white,
.h1-white-subtitle {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  color: var(--white);
  line-height: 1.2;
  margin-bottom: var(--mb-2);
}

.h1-white {
  font-size: var(--h1-fontsize);
}

.h2-white {
  font-size: var(--h2-fontsize);
}

.h3-white {
  font-size: var(--h3-fontsize);
}

.label-white-left,
.label-white-right {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--label-fontsize);
  color: var(--white);
}

.label-white-left {
  margin-bottom: var(--mb-1);
}

.paragraph-white {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--paragraph-fontsize);
  color: var(--white);
  margin-bottom: var(--mb-2);
  line-height: 1.6;
}

.h1-white-subtitle {
  font-size: var(--h1-fontsize);
  opacity: 0.25;
}

/* ================================= LAYOUT ================================= */
.container {
  margin: 0 auto;
  max-width: 64rem; /* 1024px */
  width: calc(100% - 3rem);
}
/* ================================= BUTTONS ================================ */
.btn {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  box-shadow: 12px 12px 36px 12px rgba(0, 0, 0, 0.16);
  transition: background 300ms ease, color 300ms ease;
}

.btn-primary {
  background: var(--primary);
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--paragraph-fontsize);
  color: var(--white);
  letter-spacing: 0;
  padding: 1.5rem 3.5rem;
  margin-bottom: var(--mb-1);
}

.btn-nav {
  background: var(--tertiary);
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--paragraph-fontsize);
  color: var(--white);
  letter-spacing: 0;
  padding: 1rem 1rem;
}

.btn-underline {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  color: var(--primary);
  padding-bottom: 0.6rem;
  border-bottom: 2px solid var(--primary);
}

/* ================================= UTILITY ================================ */
.flex-row {
  display: flex;
  flex-direction: row;
}

.break::after {
  content: "\a";
  white-space: pre;
}

.red-colour {
  color: var(--primary);
}

/* ========================================================================== */
/*                                    PAGES                                   */
/* ========================================================================== */
/* ============================== LANDING PAGE ============================== */
/* ================================= HEADER ================================= */
.header {
  width: 100%;
  min-height: 6.875rem;
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu {
  position: relative;
  background: var(--primary);
  min-height: 6.875rem;
}

.nav-menu::after {
  content: "";
  min-height: 6.875rem;
  position: absolute;
  left: 30%;
  width: 60rem;
  background: var(--primary);
  z-index: -1;
}

.nav-link {
  font-family: var(--font-family);
  color: var(--white);
  margin: 0 1rem;
}

.nav-toggle {
  display: none;
}

/* 
.nav-list,
.nav-item,
.nav-link,
.btn-nav {
  display: none;
}

.nav-link {
  font-family: var(--font-family);
  color: var(--primary);
  transition: 0.4s;
}

.nav-link:hover {
  color: var(--secondary);
  font-weight: var(--font-bold);
}

@media (min-width: 768px) {
  .nav-list,
  .nav-item,
  .nav-link,
  .btn-nav {
    display: block;
  }

  .nav-toggle {
    display: none;
  }
}*/

/* ================================== MAIN ================================== */
.main {
  background: var(--white);
  margin-top: var(--mb-6);
  padding-bottom: var(--mb-6);
}

.home-image {
  margin-bottom: 3rem;
}

/* ================================ SECTION 1 =============================== */
.section1 {
  background: var(--tertiary);
  position: relative;
  display: flex;
  flex-direction: column;
}

.sec1-line {
  max-width: 63px;
  position: absolute;
  top: -3%;
}

.sec1-content {
  position: relative;
  padding: 4.5rem 0;
}

/* ================================ SECTION 2 =============================== */
.section2 {
  background: var(--primary);
  display: flex;
  flex-direction: column;
}

.sec2-col1 {
  padding: 6rem 0 1rem 0;
}

.sec2-content {
  position: relative;
  margin-bottom: var(--mb-6);
}

.sec2-subcontent {
  margin-left: 1rem;
  position: absolute;
  top: 60;
}

.sec2-col2:last-child {
  margin-bottom: var(--mb-5);
}

/* ================================ SECTION 3 =============================== */
.sec3-col1 {
  width: 100%;
  position: relative;
}

.sec3-subcontent {
  text-align: right;
  position: absolute;
  top: 80%;
  right: 8%;
}

.sec3-col2 {
  padding: 4.5rem 2rem 1rem 2rem;
  position: relative;
}

.sec3-line {
  display: none;
  max-width: 63px;
  position: absolute;
}

/* ================================ SECTION 4 =============================== */
.section4 {
  background: var(--white);
  padding: 6rem 0;
}

.button-group {
  margin-bottom: var(--mb-3);
}

/* BETTER SELECTOR */
.left-chevron {
  margin-right: 1rem;
}

/* ================================= FOOTER ================================= */

/* ========================================================================== */
/*                                MEDIA QUERIES                               */
/* ========================================================================== */
/* ============================== SMALL DEVICES ============================= */
/* ============================= MEDIUM DEVICES ============================= */
/* ============================== LARGE DEVICES ============================= */

/* All viewports above 768px will have a container width of 80% */
@media (min-width: 768px) {
  /* ================================= LAYOUT ================================= */
  .container {
    width: calc(100% - 4rem);
  }

  /* ================================== MAIN ================================== */
  .home-image {
    margin-bottom: 3rem;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .home-image {
    grid-column: 7/-1;
    grid-row: 1/2;
  }

  .home-data {
    margin-top: var(--mb-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/8;
    grid-row: 1/2;
  }

  /* ================================ SECTION 1 =============================== */
  .section1 {
    background: none;
    flex-direction: row;
    z-index: -1;
  }

  .sec1-image,
  .sec1-content {
    width: 50%;
  }

  .sec1-line {
    top: 20%;
    left: -8%;
  }

  .sec1-content {
    padding: 7.5rem 3.8rem 15rem 3.8rem;
  }

  /* ================================ SECTION 2 =============================== */
  .section2 {
    background: none;
    display: flex;
    flex-direction: row;
    margin: -20% auto;
  }

  .sec2-col1 {
    background: var(--white);
    padding: 7.5rem 2rem;
    margin-top: 18%;
    width: 45%;
    height: 45rem;
  }

  .sec2-col2 {
    background: var(--primary);
    padding: 7.5rem 2rem;
    width: 55%;
  }

  .sec2-col1 h3 {
    color: var(--black);
  }

  /* ================================ SECTION 3 =============================== */
  .section3 {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .sec3-col1 {
    min-width: 26.25rem;
    order: 2;
  }
  .sec3-col2 {
    max-height: 30%;
    padding: 7.5rem 2rem 0 2rem;
    order: 1;
    height: 300px;
  }

  .sec3-subcontent {
    text-align: right;
    position: absolute;
    top: 75%;
    right: 10%;
  }

  .sec3-line {
    display: block;
    top: 45%;
    left: 90%;
  }

  .slider-imgs {
    min-width: 420px;
  }

  /* ================================ SECTION 4 =============================== */
  .footer {
    display: flex;
    flex-direction: row;
  }

  .section4 {
    background: var(--white);
    padding: 4rem 0;
  }
}

/* All viewports above 1200px will have a container width of 80% */
@media (min-width: 992px) {
  .container {
    background-color: pink;
  }
}
